# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local

# Builds
dist/
build/
out/
.cache/
.next/
coverage/

# Hardhat
artifacts/
cache/

# Logs
*.log

# Docker
docker-data/
